body {
    text-align: center;
    background-color: #000;
    color: #fff;
    font-family: 'Press Start 2P';
}

.modal {
    width: 505px;
    height: 606px;
    background-color: #000;
    color: #fff;
    font-family: 'Press Start 2P';
    font-size: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

.modal p {
    padding: 0;
    margin: 30px 0 0 0;
}

.char-select {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.char {
    width: 33%;      1100.0000000000014

    max-width: 100%;
    height: 230px;
    margin: auto;
    font-size: 20px;
}

.char:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.char-image {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

button {
    background: none;
    border: none;
    font-family: 'Press Start 2P';
    font-size: 30px;
    color: #fff;
    padding: 30px;
    cursor: pointer;
}

button:hover {
    background-color: #fff;
    color: #000;
}

button:focus {
    outline: none;
    background-color: #fff;
    color: #000;
}

/* Game Over Screen */

.game-over {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.go-section {
    width: 100%;
    height: 33%;
}

.score {
    font-size: 20px;
}

.gameboard {
    position: relative;
    width: 505px;
}

h1 {
    font-family: 'Press Start 2P', cursive;

}

.legend-image {
    position: relative;
    top: 12px;
    width: 30px;
}

.inner-wrapper {
    max-width: 505px;
    flex-grow: 1;
    align-items: left;
    float: right;
}

.legend {
    max-width: 600px;
    flex-grow: 1;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}

.legend-column {
    flex-grow: 1;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 600px;
    min-width: 100%;
}