
body {
    text-align: center;
    background-color: #000;
    color: #fff;
    font-family: 'Press Start 2P';
    user-select: none;
}

/*                      *
 *                      *
 * Basic Modal used for *
 * Game Over and        *
 * Character Select     */

.modal {
    width: 505px;
    height: 606px;
    background-color: #000;
    color: #fff;
    font-family: 'Press Start 2P';
    font-size: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

/*                      *
 *                      *
 * Character Select     *
 * Screen               *
 *                      */

.modal .char-select {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.modal .char-select .char {
    width: 33%;
    max-width: 100%;
    height: 230px;
    margin: auto;
    font-size: 20px;
}

.modal .char-select .char:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.modal .char-select .char .char-image {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.modal .char-text, .modal .char-select .char .char-text {
    padding: 0;
    margin: 30px 0 0 0;
}

/*                      *
 *                      *
 * Game Over Screen     *
 *                      *
 *                      */

.modal .game-over {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.modal .game-over .go-section {
    width: 100%;
    height: 33%;
}

.modal .game-over .go-section .score {
    font-size: 20px;
}

.modal .game-over .go-section .play-again-button {
    background: none;
    border: none;
    font-family: 'Press Start 2P';
    font-size: 30px;
    color: #fff;
    padding: 30px;
    cursor: pointer;
}

.modal .game-over .go-section .play-again-button:hover {
    background-color: #fff;
    color: #000;
}

.modal .game-over .go-section .play-again-button:focus {
    outline: none;
    background-color: #fff;
    color: #000;
}

/*                      *
 *                      *
 * Main Page Styles     *
 *                      *
 *                      */

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 600px;
    min-width: 100%;
}

/*                      *
 *                      *
 * Content associated   *
 * with gameboard       *
 *                      */ 

.wrapper .inner-wrapper {
    max-width: 505px;
    flex-grow: 1;
    align-items: left;
    float: right;
}

.wrapper .inner-wrapper .header {
    font-family: 'Press Start 2P', cursive;

}

.wrapper .inner-wrapper .gameboard {
    position: relative;
    width: 505px;
}

.wrapper .inner-wrapper .music-toggle {
    user-select: none;
    cursor: pointer;
}

.wrapper .inner-wrapper .music-toggle:hover {
    text-shadow: 0 0 3px yellow;
}

.wrapper .inner-wrapper .music-toggle.on {
    opacity: 1;
}

.wrapper .inner-wrapper .music-toggle.off {
    opacity: 0.3;
}

/*                      *
 *                      *
 * Legend/instructions  *
 *                      *
 *                      */

.wrapper .legend {
    max-width: 600px;
    flex-grow: 1;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}

.wrapper .legend .legend-column {
    flex-grow: 1;
    width: 100%;
}

.wrapper .legend .legend-column .legend-image {
    position: relative;
    top: 12px;
    width: 30px;
}